* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.contenedor {
	background:#ccc;
	width:90%;
	max-width:90%;
	height: 100%;;
	margin:auto;
	display:flex;
	flex-flow:row wrap;
	
}

body {
	background:#e9e9e9;
}

header {
	background:#2c3e50;
	width:100%;
	padding:20px;
    text-align: right;

}
header nav {
	width:50%;
	align-items:right;
}

header nav a {
	color:#fff;
	text-align: right;
	text-decoration: none;
	padding:10px;

}
img {
	align-items: center;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-position: center;
  }


.inicio {
	background:#fff;
	padding:20px;
	flex:1 1 50%;
	height: 80%;

}

.imagen1{
	content: '';
	height:60%;
	width: 100%;
	top: 0;
	left: 0;
	text-align: center;
	

}
.imagen2{
	content: '';
	height:60%;
	width: 100%;
	top: 0;
	left: 0;
	text-align: center;
	

}
.imagen3{
	content: '';
	height:20%;
	width: 20%;
	top: 0;
	left: 0;
	align-items: center;

}
.imagen4{
	content: '';
	height:20%;
	width: 20%;
	top: 0;
	left: 0;

}
.imagen5{
	content: '';
	height:20%;
	width: 20%;
	top: 0;
	left: 0;
	justify-content:center;

}


.incio div {
	margin-bottom: 20px;
	padding-bottom:20px;
	border-bottom:1px solid #000;
}

.textcolor1{
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 60px;

}
.textcolor2{
    text-decoration: none;
    color: #fff;
    text-align: right;
    font-size: 20px;

}
.subtitulo{
	text-align: center;
	font-size: 40px;
}
.subtitulo2{
	text-align: center;
	font-size: 40px;
	color: #fff;
}
.parrafo{
	font-size: 20px;
}
.parrafoaside{
	font-size: 20px;
	color: #fff;

}

button:hover{
    color: #ffffff;
    background: #1c25a8;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .7);
}
.boton1{
	background-color: #6f4306;
	width: 200px;
	height: 60px;
	grid-row: span 2;
	margin: 7px auto;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
    color: #ffffff;
	font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

aside {
	background:#013102;
	padding:20px;
	flex:1 1 30%;
	display: flex;
	flex-wrap:wrap;
	flex-direction:column;
	justify-content:flex-start;
}

footer {
	background:#2c3e50;
	width: 100%;
	padding:20px;
	display: flex;
	flex-wrap:wrap;
	justify-content:space-between;
}


